---
import PageLayout from '@/layouts/PageLayout/PageLayout.astro';
import ArticleCard from '@/components/ArticleCard/ArticleCard.astro';
import Pagination from '@/components/Pagination/Pagination.astro';
import MainHeader from '@/components/MainHeader/MainHeader.astro';
import { getCollection } from 'astro:content';
import { getReadingTime, getWordCount } from '@/utils';

export async function getStaticPaths({ paginate }: any) {
  const allPosts = await getCollection('blog', ({ data }) => !data.draft);
  allPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
  return paginate(allPosts, { pageSize: 10 });
}
const { page } = Astro.props;
---
<PageLayout title="首页">
  <MainHeader />
  <div class="post-list">
    {page.data.map((post: any) => (
      <ArticleCard title={post.data.title} description={post.data.description} cover={post.data.cover}
        date={post.data.date} tags={post.data.tags} categories={post.data.categories}
        readingTime={getReadingTime(post.body || '')} wordCount={getWordCount(post.body || '')}
        link={`/article/${post.id}`} pin={post.data.pin} />
    ))}
  </div>
  <Pagination currentPage={page.currentPage} totalPages={page.lastPage} />
</PageLayout>
